/* Style éléments de base */
* { font-family: "Segoe UI", sans-serif }

::selection { background: rgba(79,211,181,.35); }

::-webkit-scrollbar { width: 13px;}
::-webkit-scrollbar-track {
    background: #dddddd;
    border-radius:10px;
}
::-webkit-scrollbar-thumb {
    background: #9d9d9d;
    border-radius:10px;
}
::-webkit-scrollbar-thumb:active { background: #7e7e7e; }
#container-listeRadios::-webkit-scrollbar { width: 5px;}

html { overflow-y: scroll; }

body{
    max-width:1100px;
    margin:20px auto;
    background-color:rgb(78,78,78);
}

header{
    margin-bottom:75px;
    padding:0 28px 0 5px;
}

main{ padding:0 10px; }

h4{ margin:0; }

abbr{ text-decoration: none; }

footer{
    font-style: italic;
    padding:0 10px;
    font-size:0.9em;
    color:white;
}

input[type="range"]{
    cursor:pointer;
    width:60px;
    height:6px;
}

#logo{
    max-width:500px;
    width:100%;
    margin:0 auto;
    display:block;
    padding:0 5px;
    border-radius:5px;
    background-color:#f8f8f8;
    box-shadow: rgba(14, 201, 158, 0.4) 5px 5px, rgba(14, 201, 158, 0.3) 10px 10px, rgba(14, 201, 158, 0.2) 15px 15px, rgba(14, 201, 158, 0.1) 20px 20px, rgba(14, 201, 158, 0.05) 25px 25px;
}

/* Composant TAGS */
#container-tags{
    background-color:#f8f8f8;
    border-radius:5px;
    display:block;
    margin-bottom:30px;
    max-height:35px;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
    overflow-y:hidden;
    text-align: center;
    transition:max-height 1s;
    padding:5px;
}

#container-tags:hover{
    max-height:1000px;
    transition:max-height 1s;
    cursor:pointer;
}

#container-tags h2{
    margin:0 0 10px 0;
}

.tag{
    display:inline-block;
    margin:3px 5px;
    padding:0 3px;
    border-radius:3px;
}

.container-singleTag{
    background-color: rgba(79,211,171,0.5);
    transition:background-color 0.3s, box-shadow 0.3s;
}

.lecteur-singleTag{
    background-color: rgba(210,210,210,0.5);
    font-style:italic;
    cursor:default;
}

.container-singleTag:hover{
    background-color: rgba(79,211,171,0.8);
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
    transition:background-color 0.3s, box-shadow 0.3s;
}

.container-singleTag:active{
    background-color: rgba(79,211,171,1);
    transition:background-color 0.3s;
}

/* Composant RADIOS */
#container-listeRadios{
    background-color:#f8f8f8;
    border-radius: 5px 0 5px 5px;
    display:inline-block;
    width:75%;
    vertical-align: top;
    height:600px;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
    text-align:center;
    overflow-y:auto;
    padding:10px 0;
}

.container-singleRadio{
    display:inline-block;
    width:250px;
    height:130px;
    border:solid lightgrey 1px;
    border-radius:5px;
    margin:5px;
    cursor:pointer;
    overflow:hidden;
    position:relative;
    background-color:rgb(240,240,240);
    transition:box-shadow ease-in-out 0.2s;
}

.container-singleRadio:hover{
    box-shadow: rgba(14, 201, 158, 1) 2px 2px, rgba(14, 201, 158, 0.3) 4px 4px, rgba(14, 201, 158, 0.2) 6px 6px;
    transition:box-shadow ease-in-out 0.2s;
}

.container-singleRadio img{
    max-height: 100%;
}

.nom-radio{
    width:218px;
    height:40px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom:0;
    color:white;
    text-align:left;
    line-height:40px;
    padding:0 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}

/* Composant LECTEUR */
#container-lecteur{
    background-color:#f8f8f8;
    border-radius: 0 5px 5px 0;
    display:inline-block;
    width:25%;
    vertical-align: top;
    min-height:220px;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
    overflow: hidden;
    text-align: center;
}

#lecteur-empty{
    text-align:center;
    font-style: italic;
    display:flex;
    justify-content:center;
    align-items:center;
    height:220px;
    padding:0 5px;
}

#container-lecteur img{
    max-width:100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    border-radius:0 0 5px 5px;
    background-color:white;
}

#container-lecteur button{
    cursor:pointer;
    border:none;
    background:rgb(240,240,240);
    outline:none;
    border-radius:5px;
    margin:5px;
    height:40px;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
    transition:background 0.3s, border-radius 0.3s;
}

#container-lecteur button:hover{
    background:rgb(220,220,220);
    border-radius:15px;
    transition:background 0.3s, border-radius 0.3s;
}

#container-lecteur button:active{
    background:rgb(200,200,200);
    transition:background 0.3s;
}

#container-lecteur button, #container-lecteur button svg{
    display: inline-block;
    vertical-align: middle;
}

#container-lecteur button svg{
    color:rgb(100,100,100);
    transition:color 0.3s;
}

#container-controls{
    width: 75%;
    margin: 13px auto;
    border-top:solid lightgrey 1px;
    border-bottom: solid lightgrey 1px;
    box-shadow: 0 10px 8px -11px #ccc, 0 -10px 8px -11px #ccc;
    transition: border-top 0.3s, border-bottom 0.3s;
    padding:2px 0;
    border-radius:5px;
}

#container-controls:hover{
    border-top:solid #7adbc5 1px;
    border-bottom: solid #7adbc5 1px;
    transition: border-top 0.3s, border-bottom 0.3s;
}